<configuration scan="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <appender name="beacon.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/beacon.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/beacon.%d.log.zip</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
   <!-- Avoid to write log in file! 
   	<appender-ref ref="beacon.log" />  
   	--> 
  </root>
  <logger name="net.beaconcontroller" level="INFO"/>
  <logger name="net.beaconcontroller.mactracker" level="DEBUG"/>
  <logger name="net.beaconcontroller.core.internal.SpringFrameworkListener" level="ERROR"/>
  <logger name="net.beaconcontroller.logging" level="ERROR"/>
  <logger name="net.beaconcontroller.tutorial" level="TRACE"/>
  <logger name="net.beaconcontroller.core.web" level="TRACE"/>
  <logger name="net.beaconcontroller.learningswitch" level="TRACE"/>
</configuration>